<%- include('../../partials/header.ejs') %>

<%- include('../../partials/navbar.ejs') %>

<body>
    <div class="container"></div>
    <form>
        <input action="text" name="tittle" placeholder="defina o titulo da categoria">
   
    <button class="btn btn-success"></button>
</form>
</body>

<%- include('../../partials/footer.ejs') %>